<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app='xcms'>

<head>
  <meta charset="UTF-8">
  <title>Bulls 'n' Bears</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>

  <link rel="stylesheet" href='{% static "assets/css/style.css" %}'>
  <!--<link rel="icon" type="image/png" sizes="96x96" href="css/images/bnb.png">-->
    <link rel="shortcut icon" href="{% static 'favicon' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon' %}" type="image/x-icon">
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js'></script>
    <script src='{% static "angular/login/login.js" %}'></script>
    <!-- FB SDK Code -->
    <script src='{% static "assets/js/fblogin.js" %}'></script>

    <div class="cont">
        <div class="demo">
            <div class="login">
                <div> <img class="img-circle" src="{% static 'assets/img/bnb.png' %}"> </div>
                <div class="image-cropper"> <img src="{% static 'assets/img/bnb3.png' %}" class="rounded" /> </div>
                <hr>
                <br>
                <div class="login__form">
                    <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false" onlogin="checkLoginState();"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="fb-root"></div>
    <div ng-controller="mainCtrl">
        <input id="dk" hidden type="text" ng-change="setCookie()" ng-model="dataKey"></div>
        <input id="uID" hidden type="text" ng-model="response"></div>
    </div>
</body>

</html>