
<div class="main-content">
	<div class="container-fluid">

		<div class="panel panel-headline">
			<div class="panel-heading">
				<h3 class="panel-title">Company Name</h3>
			</div>
			<div class="panel-body">
				<div class = "col-md-6">
					<!--<div id="chart_div2" class="chart"></div>-->
				</div>
					<div class="col-md-2">
						<div class="weekly-summary text-right">
							<span class="number">2,315</span> 
							<span class="info-label">Price</span>
						</div>
						<div class="weekly-summary text-right">
							<span class="number">$5,758 %</span>
							<span class="info-label">Annual Growth Rate</span>
						</div>
						<div class="weekly-summary text-right">
							<span class="number">$65,938</span>
							<span class="info-label">Market Capitalisation(in Cr.)</span>
						</div>
					</div>

				<div class="col-md-4" style="text-align:center">

					<form>
  							<input type="text" name="lastname">&ensp;
								<button type="button" class="btn btn-default" style="margin:auto;margin-bottom:3px;color:black;">Buy</button>
					</form>

					<br>
					<form>
  							<input type="text" name="lastname">&ensp;
					<button type="button" class="btn btn-default" style="margin:auto;margin-bottom:3px;color:black;">Sell</button>
				</form>
					<br>
					<form>
  							<input type="text" name="lastname">&ensp;
					<button type="button" class="btn btn-default" style="margin:auto;margin-bottom:3px;color:black;">Short</button>
				</form>
					<br>
					<form>
								<input type="text" name="lastname">&ensp;
					<button type="button" class="btn btn-default" style="margin:auto;margin-bottom:3px;color:black;">Cover</button>
				</form>

				</div>
			</div>
		</div>

	</div>


</div>
