
<div class="main-content">
	<div class="container-fluid">
		
		<div class="panel panel-headline">
			<div class="panel-heading">
				<h3 class="panel-title">Company Portfolio</h3>
				<p class="panel-subtitle">Period: Feb 3, 2016 - Present</p>
			</div>
			<div class="panel-body">
				<div class = "col-md-6">
					<!--<div id="chart_div2" class="chart"></div>-->
				</div>
					<div class="col-md-2">
						<div class="weekly-summary text-right">
							<span class="number">2,315</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 12%</span>
							<span class="info-label">Total Sales</span>
						</div>
						<div class="weekly-summary text-right">
							<span class="number">$5,758</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 23%</span>
							<span class="info-label">Monthly Income</span>
						</div>
						<div class="weekly-summary text-right">
							<span class="number">$65,938</span> <span class="percentage"><i class="fa fa-caret-down text-danger"></i> 8%</span>
							<span class="info-label">Total Income</span>
						</div>
					</div>
				<div class="col-md-4" style="text-align:center">
					<button type="button" class="btn btn-default" style="margin:auto;margin-bottom:30px;color:black;">Buy</button>
					<button type="button" class="btn btn-default" style="margin:auto;margin-bottom:30px;color:black;">Sell</button>
					<button type="button" class="btn btn-default" style="margin:auto;margin-bottom:30px;color:black;">Short</button>
					<button type="button" class="btn btn-default" style="margin:auto;margin-bottom:30px;color:black;">Cover</button>
					<!-- The Modal -->
					<div id="myModal" class="modal">
						<!-- Modal content -->
						<div class="modal-content">
							<span class="close">&times;</span>
							<div data-role="page">
								<div data-role="header">
								<h1>Buy</h1>
								</div>

								<div data-role="main" class="ui-content">
									<form method="post" action="">
										<div data-role="rangeslider">
											<label for="price-min">Select Number of Stocks</label>

											<!--<label for="price-max">Select Number of Stocks</label>-->
											<input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
										</div>
										<input type="submit" data-inline="true" value="Submit">
									</form>
								</div>
							</div> 
						</div>

					</div>

					<h3 class="panel-title">Company Description</h3>
					<p>Write Description Here.</p>
				</div>
			</div>
		</div>
		
	</div>
	
	
</div>