<!-- MAIN CONTENT -->
<div class="main-content">
	<div class="container-fluid">
		<h1 class="page-title">Leaderboard</h1>
		<div class="row">
			<div class="col-md-12">
				<!-- BORDERED TABLE -->
				<div class="panel">
					<div class="panel-body">
						<table class="table table-bordered table-responsive">
							<thead>
								<tr style="background-color:#eee;">
									<th>Rank</th>
									<th>Name</th>
									<th>Worth</th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat="customer in customerList">
									<td>{{ $index + 1 }}</td>
									<td>{{ customer.name }}</td>
									<td>{{ customer.worth }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- END BORDERED TABLE -->
			</div>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->