<!-- MAIN CONTENT -->
<div class="main-content">
	<div class="container-fluid">
		<h1 class="page-title">News</h1>
		<div class="row">
			<!--angular for loop-->

			<div class="col-md-6" ng-repeat="news in newsList">
				<!-- PANEL SCROLLING -->
				<div id="panel-scrolling-demo" class="panel">
					<div class="panel-body">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" ng-src="{{ news.fields.youtube_src }}"></iframe>
						</div>
						<hr>
						<p ng-bind-html="news.fields.news_text"></p>
					</div>
					<div class="panel-footer">
						{{ news.fields.published_on | date:"MMM d, y h:mm a" }}
					</div>
				</div>
				<!-- END PANEL SCROLLING -->
			</div>
		</div>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT <--></-->